@model  ComicBookGallary.Models.ComicBook
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = Model.DisplayText;
}
<div>
    <h1>@Model.SeriesTitle</h1>
    <h2>Issue #@Model</h2>
    <h5>Description:</h5>
    <div>@Html.Raw(Model.DescriptionHtml)</div>


    @if (Model.Artists.Length > 0)
    {
        <h5>Artists:</h5>
        <div>
            <ul>
                @foreach (var item in Model.Artists)
                {
                    <li>@item.Role:  @item.Name</li>;

                }
            </ul>
        </div>
    }
</div>

