<!--Need to coonect the model to the Comicbook array 
    first need to access the model to formate
    then need to access the ComicBook array that was constructed
    in the ComicBookRepsoitory -->
@model ComicBookGallary.Models.ComicBook[]
@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">

    <!--This loop is getting each item from the model (ComicBooks)
        that the constructor sends through via the Model.ComicBook[]
        which its getting form the data file CommicBookRespository
        That is why the for each is looping through the Model-->
    @foreach (var comicbook in Model)
    {
        <div class="col-md-3">
            <!-- first parameter for is for the link text and the action name to route to
               using ComicBook.DisplayText as the value for the link
                Then Detail to acess the comic book View
                Then an object id is needed for the voute value-->
            <h4>@Html.ActionLink(comicbook.DisplayText, "Detail",
                new { id = comicbook.Id} ) </h4> <!--This is an anonamse tyep means you can instantate an object withinout defining the class before hand -->
            <a href="@Url.Action("Detail", new { id = comicbook.Id})">
                <img src="/Images/@comicbook.CoverImageFileName"
                     alt="@comicbook.DisplayText"
                     class="img-responsive" />
            </a>
        </div>
    };

</div>
